[submodule "services/eatin-ms-application"]
	path = services/eatin-ms-application
	url = https://github.com/ninijule/eatin-ms-application
[submodule "services/eatin-ms-profile"]
	path = services/eatin-ms-profile
	url = git@github.com:ninijule/eatin-ms-profile.git
[submodule "services/eatin-ms-auth"]
	path = services/eatin-ms-auth
	url = https://github.com/Christophe-Ch/eatin-ms-auth
[submodule "services/eatin-ms-restaurant"]
	path = services/eatin-ms-restaurant
	url = https://github.com/ninijule/eatin-ms-restaurant
[submodule "services/eatin-ms-log"]
	path = services/eatin-ms-log
	url = https://github.com/Christophe-Ch/eatin-ms-log
[submodule "services/eatin-ms-realtime"]
	path = services/eatin-ms-realtime
	url = https://github.com/Christophe-Ch/eatin-ms-realtime
[submodule "services/eatin-ms-order"]
	path = services/eatin-ms-order
	url = https://github.com/ninijule/eatin-ms-order
[submodule "services/eatin-ms-delivery"]
	path = services/eatin-ms-delivery
	url = https://github.com/Christophe-Ch/eatin-ms-delivery
